@import url(./global.css);

h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 48px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

/* меню */

nav{
background:#020617;
padding:15px;
text-align:center;
}

nav a{
color:#facc15;
text-decoration:none;
margin:0 20px;
font-size:18px;
font-weight:bold;
}

nav a:hover{
color:white;
}

/* header */

header{
text-align:center;
padding:70px;
background:linear-gradient(90deg,#1e3a8a,#2563eb);
}

header h1{
font-size:40px;
}

header p{
font-size:20px;
color:#facc15;
}

/* секции */

section{
padding:60px 15%;
text-align:center;
}

section h2{
color:#facc15;
margin-bottom:30px;
font-size:32px;
}

/* белите блокове */

.block{
background:white;
color:#111;
padding:35px;
margin-bottom:35px;
border-radius:12px;
box-shadow:0 8px 20px rgba(0,0,0,0.4);
text-align:center;
}

/* списъци */

ul{
list-style:none;
padding:0;
line-height:2;
font-size:18px;
}

/* снимки */

img{
width:100%;
max-width:500px;
border-radius:10px;
margin-top:20px;
}

/* стикери */

.sticker{
font-size:40px;
margin-bottom:10px;
}

/* footer */

footer{
background:#020617;
text-align:center;
padding:25px;
color:#facc15;
}
